
/*  classe utile  */

.margin-10{
    margin: 10px;
}

/*  header  */


.h2-dev{
    font-family: 'Saira Stencil One', cursive;
    font-size: 32px;
    margin-top: 20px;
}

.display-inline-block{
    display: inline-block;
}



/*  propriété flexbox */

.display-flex{
    display: flex;
}